select.done {
  background-color: #dff0d8;
}

select.printing {
  background-color: #d9edf7;
}

select.pending {
  background-color: #fff;
}

select.cancelled {
  background-color: #f2dede;
}

ul {
  list-style-type: none;
  padding:0px;
}

#printform {
  padding-top: 20px;
  width: 800px;
}

#printform .form-group {
  padding-bottom: 20px;
}

.hide {
  display: none;
}

.toggles {
  text-align: right;
}

h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: #3FB8AF;
  text-shadow: 1px 1px 2px #216c67;
  margin-bottom: 30px;
}
